@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dawei Zhou<br />
    6201 Sherbrooke Montreal<br />
    <abbr title="Phone">Phone:</abbr>
    514-618-8218
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ddwzdd@hotmail.com">ddwzdd@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ddwzdd@hotmail.com">ddwzdd@hotmail.com</a>
</address>